<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="products">NinjaShop</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="products" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">List Products</a>
      <a class="nav-item nav-link" routerLink="products/create" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Create Product</a>
      <a class="nav-item nav-link" routerLink="counter" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">Counter</a>
    </div>
  </div>
</nav>
<div class="header-spacer"></div>
